	
	<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
	<suite name="FullSuiteOfSmoke,Regression and Sanity">
		<test name="Testing All groups">
			<groups>
				<run>
					<include name="smoke" />
					<include name="regression" />
					<include name="sanity" />
				</run>
			</groups>
			<classes>
				<class name="com.alok.selenium.tests.LoginTest" />
				<class name="com.alok.selenium.tests.ZoomInOutTest"/>
				<class name="com.alok.selenium.tests.TabTest"/>
			</classes>
		</test>
	</suite>	